<a href="https://colab.research.google.com/github/GiduthuriKV/ICP3/blob/main/ICP3_Code1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
class Employee:
    count = 0
    
    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        Employee.count += 1
    
    def average_salary(self):
        return self.salary / Employee.count

class FulltimeEmployee(Employee):
    pass
 
emp1 = Employee("Krishna", "Vamsi", 1200, "CIS")
emp2 = Employee("Rahul", "Ram", 1660, "CIS")
emp3 = FulltimeEmployee("Mahesh", "Babu", 1800, "CIS")

print(emp1.average_salary())
print(emp2.average_salary())
print(emp3.average_salary())

400.0
553.3333333333334
600.0